@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700;800;900&display=swap');
body{
    font-family: 'League Spartan', sans-serif !important;
}
#maincontainer{
    display: flex;
    flex-direction: column;
    
}

h1{
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    margin-bottom: 50px !important;
    margin-top: 50px !important;
    font-size: xx-large;
    padding: 0 30px;
    margin-right: 10px;
    margin-left: 10px;
}
#leadtext{
    color: hsl(303, 10%, 53%);
    text-align: center;
    
    font-weight: 400;
    margin-bottom: 50px !important;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0 20px;
}
.reviewcontainer{
    border: 1px solid hsl(300, 24%, 96%);
    background-color: hsl(300, 24%, 96%);
    text-align: center;
    font-size: 15px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    border-radius: 10px;
}
.pfp{
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
.reviewbox{
    background-color: hsl(300, 43%, 22%);
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 15px 35px 15px 35px;
    
}
.rated{
    
    transform: translate(0,10px);
}
.name{
    color: hsl(300, 24%, 96%);
    margin: 0;
    
    
}
.verifiedbuyer{
    color: hsl(333, 80%, 67%);
    
    font-weight: 400;
    
}
.reviewparagraph{
    color: hsl(300, 24%, 96%);
    font-weight: 400 !important;
    font-size: 15px !important;
    padding-bottom: 20px;
}
.picbox{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    padding-left: 1px;
    
}
.idbox{
    display: flex;
    flex-direction: column;
    
}
#cont1{
    background-image: url(https://raw.githubusercontent.com/platypus567/testimonial_page_project/36740e240f6d9340ad044f6d5c222de256864fca/social-proof-section-master/images/bg-pattern-top-mobile.svg);
}
#cont2{
    background-image: url(https://raw.githubusercontent.com/platypus567/testimonial_page_project/36740e240f6d9340ad044f6d5c222de256864fca/social-proof-section-master/images/bg-pattern-bottom-mobile.svg);
}


@media (min-width: 1300px){

    h1{
        font-size: 50px;
        font-weight: 700;
        width: 400px;
        
    }
    #cont1{
        display: flex;
        flex-direction: row;
        background-image: url(https://raw.githubusercontent.com/platypus567/testimonial_page_project/81655d5e98fd85138350d3ab09cbea5a68eea93e/social-proof-section-master/images/bg-pattern-top-desktop.svg);
    }
    #cont2{
        display: flex;
        flex-direction: row;
        background-image: url(https://raw.githubusercontent.com/platypus567/testimonial_page_project/81655d5e98fd85138350d3ab09cbea5a68eea93e/social-proof-section-master/images/bg-pattern-bottom-desktop.svg);
        
    }
    .textcont{
        display: flex;
        flex-direction: column;
        width: 5000px;
    }
    .reviewcontainer{
        height: 50px;
        width: 500px;
        
        
        
    }
    .allstars{
        display: flex;
        flex-direction: column;


    }
    #stars1{
        margin-top: 50px;
        margin-right: 100px;
       

    }
    #stars2{
        margin-top: 10px;
        margin-left: 25px;
        margin-right: 25px;
        padding: 0;
    }
    #stars3{
        margin-top: 10px;
    }
    .stars{
        margin-top: 17px;
        display: inline;
        transform: translate(30px,0);
        
        
    }
    .rated{
        display: inline;
        padding-top: 5px;
        
    }
    .fullrev{
        padding-top: 13px;
    }
    #irene{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 25px;
    }
    #anne{
        margin-top: 45px;
    }
    .reviewbox{
        border-radius: 10px;
    }



}
