@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700;800;900&display=swap');
body{
    font-family: 'League Spartan', sans-serif;
}
#maincontainer{
    display: flex;
    flex-direction: column;
    
}

h1{
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    margin-bottom: 50px !important;
    margin-top: 50px !important;
}
#leadtext{
    color: hsl(303, 10%, 53%);
    text-align: center;
    
    font-weight: 400;
    margin-bottom: 50px !important;
}
.reviewcontainer{
    border: 1px solid hsl(300, 24%, 96%);
    background-color: hsl(300, 24%, 96%);
    text-align: center;
    font-size: 15px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}
.pfp{
    border-radius: 50px;
    width: 50px;
}
.reviewbox{
    background-color: hsl(300, 43%, 22%);
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 15px;
    
}
.reviewparagraph{
    color: hsl(300, 24%, 96%);
    font-weight: 400 !important;
    font-size: 15px !important;
}